.vehicle-form-wrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        border: 1px solid gray;
        padding: 20px;
        border-radius: 10px;
        width: 900px;
    }
}

.column{
    float: left;
    width: 400px;
    margin-left: 20px;
}

.div-picture{
    margin: 0 20px;
    text-align: center;
}